@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');


@import "node_modules/bulmaswatch/darkly/_variables";

$body-overflow-y: auto;
$input-background-color: #505050;
$input-border-color: #707070;
$input-focus-border-color: #909090;
$input-focus-box-shadow-color: #404040;
$input-color: white;

@import "node_modules/bulma/bulma";
@import "node_modules/bulmaswatch/darkly/_overrides";